

{% extends "bootstrap/base.html" %}
    {%block title %}Add New User{% endblock %}



{% block content %}
    <div class="container justify-content-center col-md-12">
            <form class= "row g-3 needs-validation" nonvalidate action = "{{url_for('addrec')}}" method = "POST">
                        <div class="col-mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" name="nm" class="form-control"id="exampleInputName"required>
                <div class="invalid-feedback">
                    Please provide a valid info.
                </div>
                </div>

            <div class="mb-3">
                <label for="exampleInputPhone" class="form-label">Phone</label>
                <input type="text" name="pho"class="form-control"id="exampleInputPhone"required>
                <div class="invalid-feedback">
                    Please provide a valid info.
                </div>
                </div>

            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input type="text" name="eml" class="form-control" id="exampleInputEmail"required>
                <div class="invalid-feedback">
                    Please provide a valid info.
                </div>       
            </div>

            <div class="mb-3">
                <label for="exampleInputRegistration" class="form-label">Registration</label>
                <input type="text" name="reg"class="form-control" id="exampleInputRegistration"required>
                <div class="invalid-feedback">
                    Please provide a valid info.
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Username</label>
                <input type="text" name="usn" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid info.
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-robot-input" id="robot">
                <label class="form-robot-label" for="robot">I am not a robot.</label>
            </div>
            <div class="mb-3"></div>
                <input class="btn btn-primary" type="submit" name="Submit"/>
            </div>
        
            </form>
    </div>

    


{% endblock%}