{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<table class="table table-info table-striped">
    <thead class="thead-dark">
        <tr>
        <th>SheetID</th>
        <th>EmployeeID</th>
        <th>Monday_Hours</th>
        <th>Tuesday_Hours</th>
        <th>Wednesday_Hours</th>
        <th>Thursday_Hours</th>
        <th>Friday_Hours</th>
        <th>Total_Hours</th>
        <th></th>
        </tr>
     

    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["SheetID"] }}</td>
        <td>{{ row["EmployeeID"] }}</td>
        <td>{{ row["Monday_Hours"] }}</td>
        <td>{{ row["Tuesday_Hours"] }}</td>
        <td>{{ row["Wednesday_Hours"] }}</td>
         <td>{{ row["Thursday_Hours"] }}</td>
        <td>{{ row["Friday_Hours"] }}</td>
        <td>{{ row["Total_Hours"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}