<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Create New User</title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(87, 87, 87);
        }
        .row{
            background-color: rgb(197, 197, 197);
            border-radius: 30px;
            color: rgb(0, 0, 0);
       }
       img{
           border-top-left-radius: 30px;
           border-bottom-left-radius: 30px;
       }
       .btn1{
           border: none;
           outline: none;
           height: 50px;
           width: 100%;
           background-color: rgb(110, 110, 110);
           color: rgb(0, 0, 0);
           border-radius: 4px;
           font-weight: bold;
       }
       .btn1:hover{
           background-color: rgb(104, 104, 104);
           border: 1px solid;
           color: rgb(255, 255, 255);
       }
        
    </style>
  </head>
  <body><section class ="From my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            
            <div class="cpl-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Welcome New User</h1>
                <h4>Input information to create your new account.</h4>
                <form class= "row g-3 needs-validation" nonvalidate action = "{{url_for('Addnewuser')}}" method = "POST">
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="exampleInputEmployeeID" class="form-label">EmployeeID</label>
                            <input type="integer" name="EmployeeID" class="form-control"id="exampleInputEmployeeID"required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="UserName" class="form-label">User Name</label>
                            <input type="text" name="UserName" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="John" class="form-label">FirstName</label>
                            <input type="text" name="FirstName"class="form-control" id="John"required>
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="Smith" class="form-label">LastName</label>
                            <input type="text" name="LastName"class="form-control" id="Smith"required>
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="sample@email.com" class="form-label">Email</label>
                            <input type="text" name="Email" class="form-control" id="sample@email.com"required>
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="(716)867 5309" class="form-label">Phone</label>
                            <input type="text" name="Phone"class="form-control"id="(716)867 5309"required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label for="inputPassword5" class="form-label">Password</label>
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                <div id="passwordHelpBlock" class="form-text">
                                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                  </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="checkbox" class="form-robot-input" id="robot">
                            <label class="form-robot-label" for="robot">I am not a robot.</label>
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            
                            <input class="btn btn-primary" type="submit" name="Submit"/>
    
                        </div>
                    </div>
                    
                </form>
            </div>
            
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>
